## Week 05
### Exercise 1
*Write a Python function to remove all non-alphanumeric characters from a string.*

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [15]:
import re

In [16]:
my_str = 'one !two@ three'

<div style="text-align: justify">A simple solution is to use regular expressions for removing non-alphanumeric characters from a string. The idea is to use the special character \W, which matches any character which is not a word character.</div>

In [17]:
new_str = re.sub(r'[\W_]', '', my_str)
print(new_str)

onetwothree

In [18]:
new_str = re.sub(r'[^\w\s]', '', my_str)
print(new_str)

one two three

<div style="text-align: justify">Another option is to filter the string that matches with the isalnum() function. It returns true if all characters in the string are alphanumeric, false otherwise.</div>

In [19]:
new_str = ''.join(char for char in my_str if char.isalnum())
print(new_str)

onetwothree

In [20]:
new_str = ''.join(char for char in my_str if char.isalnum() or char == ' ')
print(new_str)

one two three

### Exercise 2
*Adapt the above code (in notes) to capitalise the first letter of the iris species, using regular expressions.*

In [193]:
data = pd.read_csv("iris_dataset_lowercase.csv")

<div style="text-align: justify">Load the iris dataset with lowercase iris variety type. The first method used is applying title() to the dataset. The title() method returns a string where the first character in every word is upper case. Like a header, or a title.</div>

In [194]:
data_uppercase = data.variety.str.title()
print(data_uppercase)

0         Iris-Setosa
1         Iris-Setosa
2         Iris-Setosa
3         Iris-Setosa
4         Iris-Setosa
            ...
145    Iris-Virginica
146    Iris-Virginica
147    Iris-Virginica
148    Iris-Virginica
149    Iris-Virginica
Name: variety, Length: 150, dtype: object

<div style="text-align: justify">The second method looks at regular expression. To replace lowercase with uppercase we need two aspects <br/> 1). A regular expression pattern that matches all lowercase letters
 <br/> 2). And the replacement function will convert matched lowercase letters to uppercase.</div>

In [195]:
# replacement function to convert uppercase letter to lowercase
def convert_to_upper(match_obj):
    if match_obj.group() is not None:
        return match_obj.group().upper()

In [196]:
# pass replacement function to re.sub()
# The pattern to replace is lowercase letters hence (a-z) is used.
res_str = re.sub(r"-([a-z])" ,convert_to_upper, str(data))

In [197]:
print(res_str)

     sepal.length  sepal.width  petal.length  petal.width         variety
0             5.1          3.5           1.4          0.2     Iris-Setosa
1             4.9          3.0           1.4          0.2     Iris-Setosa
2             4.7          3.2           1.3          0.2     Iris-Setosa
3             4.6          3.1           1.5          0.2     Iris-Setosa
4             5.0          3.6           1.4          0.2     Iris-Setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-Virginica
146           6.3          2.5           5.0          1.9  Iris-Virginica
147           6.5          3.0           5.2          2.0  Iris-Virginica
148           6.2          3.4           5.4          2.3  Iris-Virginica
149           5.9          3.0           5.1          1.8  Iris-Virginica

[150 rows x 5 columns]