## Week 05
### Exercise 1
*Write a Python function to remove all non-alphanumeric characters from a string.*

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [15]:
import re

In [16]:
my_str = 'one !two@ three'

A simple solution is to use regular expressions for removing non-alphanumeric characters from a string. The idea is to use the special character \W, which matches any character which is not a word character.

In [17]:
new_str = re.sub(r'[\W_]', '', my_str)
print(new_str)

onetwothree

In [18]:
new_str = re.sub(r'[^\w\s]', '', my_str)
print(new_str)

one two three

Another option is to filter the string that matches with the isalnum() function. It returns true if all characters in the string are alphanumeric, false otherwise.

In [19]:
new_str = ''.join(char for char in my_str if char.isalnum())
print(new_str)

onetwothree

In [20]:
new_str = ''.join(char for char in my_str if char.isalnum() or char == ' ')
print(new_str)

one two three

### Exercise 2
*Adapt the above code (in notes) to capitalise the first letter of the iris species, using regular expressions.*

In [31]:
data = pd.read_csv("iris_dataset_lowercase.csv")

In [32]:
data

     sepal.length  sepal.width  petal.length  petal.width         variety
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
data.variety = data.variety.str.title()

In [30]:
data

     sepal.length  sepal.width  petal.length  petal.width         variety
0             5.1          3.5           1.4          0.2     Iris-Setosa
1             4.9          3.0           1.4          0.2     Iris-Setosa
2             4.7          3.2           1.3          0.2     Iris-Setosa
3             4.6          3.1           1.5          0.2     Iris-Setosa
4             5.0          3.6           1.4          0.2     Iris-Setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-Virginica
146           6.3          2.5           5.0          1.9  Iris-Virginica
147           6.5          3.0           5.2          2.0  Iris-Virginica
148           6.2          3.4           5.4          2.3  Iris-Virginica
149           5.9          3.0           5.1          1.8  Iris-Virginica

[150 rows x 5 columns]

In [35]:
import re

In [37]:
new_string = re.sub(r"[a-zA-Z]",reverse_case, org_string)

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']